
<h1>Data Users</h1>
<table class="table">
  <thead>
      <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password</th>
      </tr>
  </thead>
  <tbody>
      {{#if users}}
          {{#each users}}
              <tr>
                  <td>{{_id}}</td>
                  <td>{{username}}</td>
                  <td>{{password}}</td>
              </tr>
          {{/each}}
      {{else}}
          <tr><td colspan="5">No Data</td></tr>
      {{/if}}
  </tbody>
</table>